Repository kyma-project/serverless, pull requests merged in 2025-05, with the labels that each got.

#1627 Fix scripts using the `sec-scanner-config` file
  .github/scripts/upgrade-sec-scanners-config.sh
  .github/workflows/_images-verify.yaml
Labels: kind/bug, area/ci

#1629 Remove rc-tags in sec-scanner-config
  sec-scanners-config.yaml
Labels: kind/cleanup

#1628 Refactor REST function example
  examples/redis-rest/k8s-resources/function.yaml
  examples/redis-rest/src/handler.js
Labels: area/examples

#1632 Rework buildless `config`
  components/buildless-serverless/.gitignore
  components/buildless-serverless/Makefile
  components/buildless-serverless/config/crd/.gitignore
  components/buildless-serverless/config/crd/bases/serverless.kyma-project.io_functions.yaml
  components/buildless-serverless/config/crd/kustomization.yaml
  components/buildless-serverless/config/crd/kustomizeconfig.yaml
  components/buildless-serverless/config/default/kustomization.yaml
  components/buildless-serverless/config/default/manager_metrics_patch.yaml
  components/buildless-serverless/config/default/metrics_service.yaml
  components/buildless-serverless/config/manager/kustomization.yaml
  components/buildless-serverless/config/manager/manager.yaml
  components/buildless-serverless/config/network-policy/allow-metrics-traffic.yaml
  components/buildless-serverless/config/network-policy/kustomization.yaml
  components/buildless-serverless/config/prometheus/kustomization.yaml
  components/buildless-serverless/config/prometheus/monitor.yaml
  components/buildless-serverless/config/rbac/function_editor_role.yaml
  components/buildless-serverless/config/rbac/function_viewer_role.yaml
  components/buildless-serverless/config/rbac/kustomization.yaml
  components/buildless-serverless/config/rbac/leader_election_role.yaml
  components/buildless-serverless/config/rbac/leader_election_role_binding.yaml
  components/buildless-serverless/config/rbac/metrics_auth_role.yaml
  components/buildless-serverless/config/rbac/metrics_auth_role_binding.yaml
  components/buildless-serverless/config/rbac/metrics_reader_role.yaml
  components/buildless-serverless/config/rbac/role.yaml
  components/buildless-serverless/config/rbac/role_binding.yaml
  components/buildless-serverless/config/rbac/service_account.yaml
  components/buildless-serverless/config/samples/kustomization.yaml
  components/buildless-serverless/config/samples/serverless_v1alpha2_function.yaml
  components/buildless-serverless/config/samples/serverless_v1alpha2_function_python.yaml
  components/buildless-serverless/internal/testenv/testenv.go
Labels: area/serverless, kind/cleanup

#1636 Print cluster info on every test run
  .github/workflows/_integration-tests.yaml
  tests/serverless/Makefile
  tests/serverless/cluster_info.sh
  tests/serverless/collect_logs.sh
  tests/serverless/run-local.sh
Labels: area/serverless, area/tests

#1638 Explain how to customize otel deps if needed
  docs/user/troubleshooting-guides/03-60-conflicting-opentelemetry-dependencies.md
  examples/python-custom-opentelemetry-dependencies/fn.yaml
Labels: documentation

#1641 Support for the dry-run flag
  config/serverless/files/kyma-commands.yaml
Labels: area/serverless, area/cli

#1644 Fix buildless serverless apps paths
  components/buildless-serverless/internal/controller/resources/deployment.go
  components/buildless-serverless/internal/controller/resources/deployment_test.go
  config/buildless-serverless/templates/deployment.yaml
Labels: kind/bug, area/serverless

#1646 Get rid of the `kustomize` in the buildless Makefile
  components/buildless-serverless/Makefile
Labels: area/serverless

#1651 Add the `--output|-o` flags for extensions
  config/serverless/files/kyma-commands.yaml
Labels: area/serverless, area/cli, enhancement

#1653 Refine network policies
  config/buildless-serverless/templates/deployment.yaml
  config/buildless-serverless/templates/network-policy-allow-egress.yaml
  config/buildless-serverless/templates/network-policy-allow-metrics.yaml
  config/buildless-serverless/templates/network-policy-allow-to-apiserver.yaml
  config/buildless-serverless/templates/network-policy-allow-to-dns.yaml
  config/operator/base/deployment/deployment.yaml
  config/serverless/charts/webhook/templates/deployment.yaml
  config/serverless/templates/egress-network-policy.yaml
  config/serverless/templates/network-policy-allow-egress.yaml
  config/serverless/templates/network-policy-allow-metrics.yaml
  config/serverless/templates/network-policy-allow-registry.yaml
  config/serverless/templates/network-policy-allow-to-apiserver.yaml
  config/serverless/templates/network-policy-allow-to-dns.yaml
  config/serverless/values.yaml
  tests/with-fixture/strict-network-policies/policies.yaml
Labels: area/security

#1680 Patch cli extensions
  config/buildless-serverless/files/kyma-commands.yaml
  config/buildless-serverless/templates/cli-extension.yaml
  config/serverless/files/kyma-commands.yaml
  config/serverless/templates/cli-extension-compat.yaml
  config/serverless/templates/cli-extension.yaml
Labels: area/serverless, area/cli
